<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <wsHttpBinding> 
            <binding name="WSHttpBinding_IGameRegistration"> 
              <reliableSession enabled="true"/> 
            </binding> 
          </wsHttpBinding>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameRegistration" />
            </basicHttpBinding>
              <netTcpBinding>
                <binding name="NetTcpBinding_IGameRegistration" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57098/GameRegistration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameRegistration"
                contract="GameRegService.IGameRegistration" name="BasicHttpBinding_IGameRegistration" />
          <endpoint address="net.tcp://localhost/GameRegistration"
                    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameRegistration"
                    contract="GameRegService.IGameRegistration" name="NetTcpBinding_IGameRegistration" />
          <endpoint 
            address="http://localhost:8080/GameRegistration" 
            binding="wsHttpBinding" 
            bindingConfiguration="WSHttpBinding_IGameRegistration" 
            contract="GameRegService.IGameRegistration" 
            name="WSHttpBinding_IGameRegistration"> 
            <identity> 
              <userPrincipalName value="Test@test"/> 
            </identity> 
          </endpoint> 
        </client>
    </system.serviceModel>
</configuration>